.fof-wrapper {
  max-height: 100vh;
  padding: 2rem;
}
.fof-title {
  text-align: center;
  margin-bottom: 1rem;
}
.fof-subtitle {
  text-align: center;
  margin-bottom: 2.5rem;
}
.link-home {
  text-decoration: underline;
  text-decoration-color: rgb(162, 247, 218);
  text-underline-position: under;
}

.gif-container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
}
.first-gif-container,
.middle-gif-container,
.third-gif-container {
  position: relative;
}
.number-container {
  position: absolute;
  top: 0;
  color: rgb(250, 253, 253);
  left: 50%;
  font-size: 10rem;
  transform: translate(-50%);
}
.mobile-number-container {
  display: none;
  position: absolute;
  top: 0;
  color: rgb(250, 253, 253);
  left: 50%;
  font-size: 10rem;
  transform: translate(-50%);
}
