.contribute-section {
  width: 70vw;
  margin-top: 60px;
  min-height: 60vh;
  border-left: 2px solid rgba(103, 190, 224, 0.644);
  border-right: 2px solid rgba(103, 190, 224, 0.644);
  margin: auto;
}

.contribute-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  margin: auto;
}
.contr-title {
  text-align: center;
  margin-bottom: 26px;
}
.paragraphes {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 20vh;
  width: 68%;
  margin: auto;
}

.contribute-form,
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
  height: 85%;
  margin: 15px auto;
  padding: 20px;
  align-items: center;
}

.contribute-form label,
.edit-form label {
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.contribute-form input,
.contribute-form select:nth-child(2),
.contribute-form select:nth-child(4),
.contribute-form select:nth-child(10),
.contribute-form select:nth-child(6),
.contribute-form select:nth-child(8),
.edit-form input,
.edit-form select:nth-child(2),
.edit-form select:nth-child(10),
.edit-form select:nth-child(6),
.edit-form select:nth-child(8) {
  height: 32px;
  width: 80%;

  margin-bottom: 10px;
  outline: none;
  padding: 3px 0 3px 20px;

  border: 2px solid #2f4f80;
}
.edit-form select,
.contribute-form select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.contribute-form button,
.edit-form button {
  border: 2px solid white;
  height: 32px;
  width: 20%;
  margin-top: 10px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  color: #2f4f80;
  font-size: 1rem;
  // background-color: rgba(103, 190, 224, 0.644);
  border-color: #2f4f80;
  margin-bottom: 15px;
  font-weight: bold;
}
.contribute-form button:hover,
.edit-form button:hover {
  background-color: #cffdf7;

  font-size: 1rem;
  color: #2f4f80;
  // border-color: rgba(103, 190, 224, 0.644);
}
.contribute-form button:active,
.edit-form button:active {
  transform: translateY(2px);
}
.form-wrapper,
.create-form-container {
  position: fixed;
  top: 50%;
  width: 60vw;
  height: 80vh;
  left: 50.1%;
  transform: translate(-50.1%, -50.1%);
  background-color: aliceblue;
  border: 10px solid rgba(103, 190, 224, 0.644);
}
.modal-close-button {
  color: #0d062f;
}
@media all and (max-width: 720px) {
  .edit-form button,
  .contribute-form button {
    width: 30%;
  }
  .paragraphes {
    margin-bottom: 50px;
  }
}
