.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  padding: 20px;
  background: tomato;
}

.contact-form label {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input {
  height: 32px;
  width: 80%;
  border: 1px solid;
  margin-bottom: 10px;
  outline: none;
  padding: 3px 0 3px 20px;
  // border-top-right-radius: 0.3rem;
  // border-bottom-left-radius: 0.3rem;
}

.contact-form select {
  width: 80%;
  border: 1px solid black;
  margin-bottom: 10px;
  height: 32px;
  outline: none;
  min-height: 120px;
  padding: 3px 0 3px 20px;
}

.contact-form textarea {
  width: 80%;
  border: 1px solid black;
  margin-bottom: 10px;
  outline: none;
  min-height: 120px;
  padding: 20px;
}

.contact-form button {
  border: 1px solid black;
  height: 32px;
  width: 200px;
  padding: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background: black;
  color: white;
}
