.contact-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  max-height: 100vh;
  height: 75vh;
  width: 80vw;
  margin: 0 auto 86px auto;
}
.contact-first-frame {
  position: relative;
  width: 70%;
  height: 100%;
  border-left: 10px solid #55a5c5;
  border-top: 10px solid #55a5c5;
  border-bottom: 10px solid #55a5c5;
  border-right: 10px solid #55a5c5;
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact-second-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 106%;
  border: 10px solid #c7e8f5;
  left: 50px;
  margin: auto;
  top: 10px;
}
// .contact-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   max-width: 540px;
//   padding: 20px;
//   background: rgba(91, 177, 226, 0.425);
//   border: 5px solid rgb(130, 178, 206);
//   width: 50%;
//   margin-bottom: 50px;
// }

.contact-form {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
}
.contact-content {
  align-items: center;
  height: 100%;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin-top: -60px;
  margin-left: 53px;
}
// .formContainer {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   // margin-bottom: 20px;
// }

// .contact-form-borders {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   align-content: center;
// }

// .contact-form label {
//   color: white;
//   cursor: pointer;
//   // margin-bottom: 10px;
//   font-size: 1.2rem;
//   font-family: GT-Walsheim-Pro-Medium;
//   margin-bottom: 5px;
//   display: flex;
//   justify-content: flex-start;
//   width: 80%;
// }

// .contact-form input {
//   // background: rgba(103, 190, 224, 0.644);
//   margin-bottom: 5px;
//   height: 32px;
//   width: 65%;
//   border: 3px solid white;
//   // margin-bottom: 10px;
//   outline: none;
//   padding: 3px 0 3px 20px;
//   // border-top-right-radius: 0.3rem;
//   // border-bottom-left-radius: 0.3rem;
// }

// .contact-form select {
//   border: 3px solid white;
//   width: 65%;

//   height: 32px;
//   outline: none;
//   min-height: 120px;
//   padding: 3px 0 3px 20px;
// }

// .contact-form textarea {
//   border: 3px solid white;
//   background: rgba(103, 190, 224, 0.644);
//   width: 65%;
//   margin-bottom: 5px;
//   max-width: 65%;
//   min-width: 65%;
//   outline: none;
//   min-height: 120px;
//   padding: 20px;
// }

// .contact-form button {
//   border: 3px solid white;
//   height: 32px;
//   width: 50%;
//   margin-top: 10px;
//   padding: 4px;
//   cursor: pointer;
//   transition: 0.3s;
//   color: white;
//   font-size: 1rem;
//   background-color: rgba(103, 190, 224, 0.644);
// }

// .contact-form button:hover {
//   background-color: rgb(242, 246, 248);

//   font-size: 1rem;
//   color: rgba(103, 190, 224, 0.644);
// }

.formIntroText {
  color: #304f80;
  margin-bottom: 30px;
  text-align: center;
}

// .contact-form button:active {
//   transform: translateY(3px);
// }

// .send-button {
//   margin-bottom: 15px;
// }

.contact-form label {
  color: #2f4f80;
  cursor: pointer;
  // margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: GT-Walsheim-Pro-Medium;
  margin-bottom: 5px;

  display: flex;
  justify-content: flex-start;
  width: 65%;
}

.contact-form input {
  margin-bottom: 5px;
  height: 32px;
  width: 65%;
  border: 3px solid rgba(103, 190, 224, 0.644);
  padding: 3px 0 3px 20px;
}

.contact-form input:focus {
  background-color: white;
}
.contact-form textarea {
  border: 3px solid rgba(103, 190, 224, 0.644);

  width: 65%;
  margin-bottom: 5px;
  max-width: 65%;
  min-width: 65%;
  outline: none;
  min-height: 120px;
  padding: 20px;
}

.contact-form button {
  border: 3px solid white;
  height: 32px;
  width: 20%;
  margin-top: 10px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  color: #2f4f80;
  font-size: 1rem;
  // background-color: rgba(103, 190, 224, 0.644);
  border-color: #2f4f80;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #cffdf7;

  font-size: 1rem;
  color: #2f4f80;
  // border-color: rgba(103, 190, 224, 0.644);
}

.contact-form button:active {
  transform: translateY(2px);
}
@media only screen and (max-width: 720px) {
  // .contact-form {
  //   margin-bottom: 60px;
  //   width: 80%;
  // }
  .formIntroText {
    padding: 0 2rem;
  }
  .contact-wrapper {
    height: 75vh;
    width: 100vw;
    margin-bottom: 44px;
  }
  .contact-first-frame {
    width: 85.5%;
  }
  .contact-second-frame {
    position: static;
    height: 100%;
  }
  .contact-form {
    padding: 0;
    margin-top: 10px;
  }
  .contact-content {
    margin-left: auto;
    width: 100%;
    margin-top: auto;
  }
}
