.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
  height: 85%;
  margin: auto;
  padding: 20px;
  align-items: center;
}

.create-form label {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.create-form input,
.create-form select:nth-child(2),
.create-form select:nth-child(6),
.create-form select:nth-child(8) {
  height: 32px;
  width: 80%;
  border: 1px solid;
  margin-bottom: 10px;
  outline: none;
  padding: 3px 0 3px 20px;
  border: 2px solid #2f4f80;
}
.create-form select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.create-form button {
  height: 32px;
  width: 20%;
  margin-top: 10px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  color: #2f4f80;
  font-size: 1rem;
  // background-color: rgba(103, 190, 224, 0.644);
  border-color: #2f4f80;
  margin-bottom: 15px;
}
.create-form button:hover {
  background-color: #cffdf7;

  font-size: 1rem;
  color: #2f4f80;
  // border-color: rgba(103, 190, 224, 0.644);
}
.create-form button:active {
  transform: translateY(2px);
}
