.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 17vh;
  // background-color: aquamarine;
  background-image: url("./../../../src/images/wavy-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.social-icons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.legal-blabla {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.legal-blabla button {
  border: none;
}
.btn-cgu,
.btn-lg-notice {
  cursor: pointer;
}
.btn-cgu:hover,
.btn-lg-notice:hover {
  text-decoration: underline;
  text-underline-position: below;
  transform: scale(1.1);
}
.contact-icon {
  cursor: pointer;
}
