// containers

.table-container {
  width: 100vw;
  margin-bottom: 80px;
}
.table-content {
  width: 82vw;
  margin: 0 auto;
}
.table {
  width: 82vw;
  margin: 0 auto;
  table-layout: auto;
}
.table th {
  padding: 2rem;
  // background-color: rgb(162, 247, 218);
  background-color: rgb(158, 214, 236);
}

tr,
td {
  border: solid;
}

td {
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgb(199, 232, 245);
  padding: 1rem;
}
.title-admin-board {
  margin-top: 15px;
  text-align: center;
}
.pag-buttons-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 30%;
  margin: 3rem auto 1rem auto;
}
.pag-buttons-container button {
  padding: 1rem;
  font-size: 1.5rem;
}
.create-fountain-text {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: flex-end;
  margin-bottom: 10px;
  padding-right: 10px;
}
.check-text {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.create-button {
  margin-left: 5px;
  padding: 0.6rem;
}
.btn-crud {
  font-size: 1rem;
}

.create-button:hover,
.pag-buttons-container button:hover {
  background-color: rgb(162, 247, 218);
}

.username {
  color: #55a5c5;
}
.admin-headline {
  display: flex;
  justify-content: space-between;
}
.go-admin-board-link {
  padding: 0.5rem;
  font-size: 1.15rem;
}
.go-checkboard-link {
  padding-left: 0.5rem;
  font-size: 1.15rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.go-admin-board-link:hover,
.go-checkboard-link:hover {
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-position: below;
}

@media all and (max-width: 720px) {
  .pag-buttons-container button {
    font-size: 0.9rem;
  }
  .table-head th,
  tbody td {
    font-size: 0.8rem;
    padding: 0.45rem;
  }
}
