// containers
.fountainsListContainer {
  display: flex;
  justify-content: center;
}
.table-container {
  width: 100vw;
}
.table {
  table-layout: auto;
  width: 80vh;
  margin: 70px auto;
}
.table th {
  padding: 2rem;
  background-color: rgb(162, 247, 218);
}

tr,
td {
  border: solid;
}

td {
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: bisque;
  padding: 1rem;
}
.pag-buttons-container {
  display: flex;
  justify-content: center;
  widows: 60%;
}
.pag-buttons-container button {
  padding: 3rem;
}
