.top-home-line {
  border: none;
  height: 3px;
  background-color: aquamarine;
}
.btn-geoloc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-map-container {
  margin-bottom: 2rem;
}
.geoloc-btn {
  font-size: 2rem;
  border-radius: 0.2rem;
}
