// RESPONSIVE SETTINGS
@media (max-width: 720px) {
  .map-and-filters {
    flex-direction: column;
  }
  #root > div > div > section.map-and-filters > div.google-map-container {
    width: 95vw;
    margin: 0 auto 20px auto;
  }

  #root > div > div > section.map-and-filters > div.filters-container {
    width: 95vw;
    padding: 10px 0;
  }

  .filters-ctn {
    margin: 5px 0;
  }

  #root
    > div
    > div.main-map-all
    > section.map-and-filters
    > div.filters-container
    > h2 {
    padding-top: 0;
  }
  .google-map-title {
    padding: 0 0.5rem;
  }
}

@media (max-width: 1024px) {
  .map-and-filters {
    flex-direction: column;
  }
  #root > div > div > section.map-and-filters > div.google-map-container {
    width: 85vw;
    height: 65vh;
    margin: 0 auto 20px auto;
  }

  #root > div > div > section.map-and-filters > div.filters-container {
    width: 85vw;
    height: 50vh;
    padding: 10px 0;
  }

  .filters-ctn {
    margin: 5px 0;
  }

  .button-filter {
    min-height: 6vh;
  }
}

// FULL SIZE PAGE SETTINGS:
.main-map-all {
  margin: 3%;
  margin-top: 0;
}

.google-map-title {
  margin: 0 0 20px 0;
  font-family: GT-Walsheim-Pro-Light;
}

.map-and-filters {
  display: flex;
  justify-content: space-around;
  border: 2.5px solid #55a5c5;
  padding: 2%;
  background-color: rgba(241, 246, 247, 0.288);
}

.google-map-container {
  position: relative;
  height: 75vh;
  width: 60vw;
  // border: 2px solid coral;
}

.filters-ctn {
  font-family: GT-Walsheim-Pro-Light;
  height: 17%;
}

.filters-container {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filters-1 {
  font-family: GT-Walsheim-Pro-Light;
  color: #0d062f;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 10px;
}

.filters-4 .button-filter {
  background-color: #79a6c91a;
  border: 2px solid #4f98b4;
}

.filters-5 .button-filter {
  border: 2px solid #4f98b4;
  background-color: #d8faf5c9;
}

.filters-1,
.filters-4,
.filters-5 {
  align-self: center;
  text-align: center;
  width: 90%;
}

.filters-2,
.filters-3 {
  display: flex;
  justify-content: space-around;
}

.filters-2 button,
.filters-3 button {
  width: 40%;
}

.button-filter {
  font-family: GT-Walsheim-Pro-Light;
  color: #0d062f;
  border: 1.5px solid #4f98b4;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 70%;
  width: 100%;
}
.button-filter.is-active {
  background-color: #79a6c9;
  color: white;
}

.button-filter:active {
  transform: scale(0.99);
  background-color: #a1c1da;
  color: white;
}

.tiny-dot-icon {
  font-size: 1rem;
  margin-left: 6px;
}

// LEGENDE DE LA CARTE
.legend li p {
  font-family: GT-Walsheim-Pro-Light;
}

.blue::before {
  content: "•";
  color: blue;
  font-size: 4rem;
}
.blue {
  display: flex;
  align-items: center;
}
.blue p {
  margin-top: 10px;
}
.green::before {
  content: "•";
  color: aquamarine;
  font-size: 4rem;
}
.green {
  display: flex;
  align-items: center;
}
.green p {
  margin-top: 10px;
}
ul.legend {
  line-height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.corail::before {
  content: "•";
  color: coral;
  font-size: 4rem;
}
.corail {
  display: flex;
  align-items: center;
}
.corail p {
  margin-top: 10px;
}
