@media (max-width: 720px) {
  .map-and-filters {
    flex-direction: column;
  }
  #root > div > div > section.map-and-filters > div.google-map-container {
    width: 95vw;
    margin: 0 auto 20px auto;
  }

  #root > div > div > section.map-and-filters > div.filters-container {
    width: 95vw;
    padding: 10px 0;
  }

  .filters-ctn {
    margin: 5px 0;
  }
}

@media (max-width: 1024px) {
  .map-and-filters {
    flex-direction: column;
  }
  #root > div > div > section.map-and-filters > div.google-map-container {
    width: 95vw;
    margin: 0 auto 20px auto;
  }

  #root > div > div > section.map-and-filters > div.filters-container {
    width: 95vw;
    padding: 10px 0;
  }

  .filters-ctn {
    margin: 5px 0;
  }
}

.main-map-all {
  margin: 3%;
}

.google-map-title {
  margin: 20px 0;
  font-family: GT-Walsheim-Pro-Light;
}

.map-and-filters {
  display: flex;
  justify-content: space-between;
}

.google-map-container {
  position: relative;
  height: 65vh;
  width: 60vw;
  // border: 2px solid coral;
}

.filters-ctn {
  font-family: GT-Walsheim-Pro-Light;
  height: 15%;
}

.filters-container {
  width: 30vw;
  border: 2px solid #55a5c5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filters-1 {
  color: black;
}

.filters-1,
.filters-4,
.filters-5 {
  align-self: center;
  text-align: center;
  width: 90%;
}

.filters-2,
.filters-3 {
  display: flex;
  justify-content: space-around;
}

.filters-2 button,
.filters-3 button {
  width: 40%;
}

.button-filter {
  font-family: GT-Walsheim-Pro-Light;
  border: 1px solid black;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
}
.button-filter.is-active {
  background-color: rgb(95, 134, 153);
}

.button-filter:active {
  transform: scale(0.99);
  background-color: #d8fcf7;
}

// LEGENDE DE LA CARTE
.legend li p {
  font-family: GT-Walsheim-Pro-Light;
}

li:first-child::before {
  content: "•";
  color: blue;
  font-size: 4rem;
}
.blue {
  display: flex;
  align-items: center;
}
.blue p {
  margin-top: 10px;
}
li:nth-child(2)::before {
  content: "•";
  color: aquamarine;
  font-size: 4rem;
}
.green {
  display: flex;
  align-items: center;
}
.green p {
  margin-top: 10px;
}
ul.legend {
  line-height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
li:nth-child(3)::before {
  content: "•";
  color: coral;
  font-size: 4rem;
}
.corail {
  display: flex;
  align-items: center;
}
.corail p {
  margin-top: 10px;
}
