@media all and (max-width: 720px) {
  .map-filters {
    flex-direction: column;
  }
  .google-map-container {
    width: 100vw;
  }
  .filters-container {
    width: 100vw;
  }
  .articles-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
