@media all and (max-width: 720px) {
  .map-filters {
    flex-direction: column;
  }
  .google-map-container {
    width: 100vw;
  }
  .filters-container {
    width: 100vw;
  }
  .articles-container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 70%;
  }
  .art1,
  .art2,
  .art3,
  .art4 {
    width: 90%;
    padding: 5px;
  }
  .about {
    min-height: 100vh;
  }
  .about-title {
    padding: 1rem;
    font-size: 1.1rem;
    height: 13%;
  }
  .first-gif-container,
  .third-gif-container {
    display: none;
  }
  .mobile-number-container.is-active {
    display: block;
    position: absolute;
    top: 0;
    color: rgb(250, 253, 253);
    left: 50%;
    font-size: 10rem;
    transform: translate(-50%);
  }
  .number-container {
    display: none;
  }
  p {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 1024px) {
  .home-map-section-wrapper-flex {
    flex-direction: column;
  }
  .txt-container-flex-column {
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  .home-map-container {
    width: 100%;
    height: 50%;
    padding: 1rem 0 0 1rem;
  }
  .choose-container,
  .btn-geoloc-container {
    width: 50%;
    padding: 2rem;
  }
  .choose-container h2 {
    padding: 0;
  }

  .geoloc-btn {
    padding: 2rem;
  }
}
