.menu {
  position: fixed;
  height: 100vh;
  width: 26%;
  background: #2f00fc;
  right: 0;
  z-index: 1;
  transform: translate(100%, 0);
  transition: transform 0.4s ease-in;
  padding: 2%;
}

.menu.is-active {
  transform: translate(0%, 0);
}

.times-container {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.fa-times {
  font-size: x-large;
  text-align: right;
  width: 100px;
  cursor: pointer;
}

.burger-link {
  margin: 30px 10px;
  color: rgb(250, 253, 253);
}
