.menu {
  position: fixed;
  height: 100vh;
  width: 26%;
  background: tomato;
  right: 0;
  z-index: 1;
  transform: translate(100%, 0);
  transition: transform 0.4s ease-in;
}

.menu.is-active {
  transform: translate(0%, 0);
}
