.modal-wrapper {
  position: fixed;
  width: 80vw;
  // height: 80vh;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
}
.legal-modal-header {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.modal-close-button {
  border: none;
  font-size: 3rem;
}
.legal-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70%;
  width: 70%;
  background-color: aliceblue;
  margin: auto;
}
.legal-modal-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 4rem 3rem 4rem;
}

.legal-modal-content p {
  text-align: justify;
  margin-top: 13px;
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  top: 0;
}

//--------------------------
// TERMS OF USE
//--------------------------

.tu-modal-header {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.tu-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70%;
  width: 70%;
  background-color: aliceblue;
  margin: auto;
}
.tu-modal-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 4rem 3rem 4rem;
}

.tu-modal-content p {
  text-align: justify;
  margin-top: 13px;
}

//--------------------------
// MEDIA QUERIES
//--------------------------
@media all and (max-width: 720px) {
  .legal-modal {
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
  .legal-modal-content {
    padding: 0 1rem;
    overflow: scroll;
    justify-content: center;
  }
  .legal-modal-content {
    font-size: 0.9rem;
    text-align: justify;
  }
  .legal-modal-header {
    height: 40px;
  }
  // TU
  .tu-modal {
    overflow: scroll;
    width: 100%;
    height: 74%;
    padding-bottom: 20px;
  }
  .tu-modal-content {
    padding: 0 1rem;
    overflow: scroll;
    justify-content: center;
  }
  .tu-modal-content {
    font-size: 0.9rem;
    text-align: justify;
  }
  .tu-modal-header {
    height: 40px;
  }
}
