.navbar {
  width: 100%;
  // padding: 1.7rem 4.2rem;
  // background-color: rgb(250, 253, 253);

  top: 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainLogo {
  // height: 26%;
  // width: 26%;
  width: 150px;
}

// .nav-logo img {
//   width: 45%;
// }

.btn-burger {
  cursor: pointer;
  font-size: 2rem;
  // color: rgb(255, 255, 255);
  z-index: 1001;
  position: relative;
}
.nav h1 {
  font-size: 2.5rem;
  // color: rgb(255, 255, 255);
  font-weight: bold;
}
