.navbar {
  position: relative;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #f7fcfe;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-burger {
  cursor: pointer;
}

#btn-burger {
  outline: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
}

#btn-burger:hover {
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}

#btn-burger:active {
  border-color: #003557;
  background-color: #fff;
}
