.navbar {
  position: absolute;
  width: 100%;
  padding: 1.7rem 4.2rem;
  // background-color: rgb(250, 253, 253);

  top: 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-pages {
  position: relative;
  width: 100%;
  padding: 0rem 2.5rem;
  // background-color: rgb(250, 253, 253);

  top: 20px;
}
.btn-burger-pages {
  color: black;
  cursor: pointer;
}
.nav-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo img {
  width: 45%;
}
.btn-burger {
  cursor: pointer;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

// #btn-burger {
//   outline: none;
//   transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
// }

// #btn-burger:hover {
//   cursor: pointer;
//   border-color: #003557;
//   transform: scale(1.2, 1.2);
// }

// #btn-burger:active {
//   border-color: #003557;
//   background-color: #fff;
// }

.nav h1 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
