//containers

.pageContainer {

  justify-content: center;
  min-height: 60vh;
  width: 90vw;
  margin: 0 auto;

  margin-bottom: 80px;

}

.mainText {
  margin-bottom: 20px;
  // font-family: GT-Walsheim-Pro-Light;
  font-size: 1.3rem;
  color: rgb(10, 23, 70);
}

.questionLabel {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;



}

.questionLabel {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.plasticPrintInput input[type="number"] {
  text-align: center;
  font-size: 1.3rem;
}

.firstContainer {
  margin-top: 5%;


  background-color: rgba(245, 249, 250, 0.37);
  border-top: 5px solid #BADDF2;
  border-left: 5px solid #BADDF2;
  border-right: 5px solid #BADDF2;
  // border-radius: 4px;

  padding: 2.5rem 1rem 1rem 1rem;
  width: 90%;
  margin: auto;
  // border-radius: 1px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;

}



.secondContainer {
  width: 90%;
  ;

  background-color: rgba(245, 249, 250, 0.37);
  border-bottom: 5px solid #BADDF2;
  border-left: 5px solid #BADDF2;
  border-right: 5px solid #BADDF2;
  // border-radius: 4px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  display: flex;

  align-items: center;
  margin: 0 auto;

}

.bigPromptsContainer {}


.featureContainer {


  text-align: center;
  width: 90%;
}

.responseBigContainer {

  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


}


.input {
  width: 15%;
  height: 35px;
  border: 2px solid rgb(11, 62, 92);
  border-radius: 3px;
  -webkit-appearance: none;
  text-decoration: none;
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//items

.plasticPrintInput {
  display: flex;
  flex-direction: column;
  // border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}



.response {
  // border: 1px solid violet;

  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.response img {
  margin-top: 20px;
}

.response h4 {
  // font-family: GT-Walsheim-Pro-Light;
  color: rgb(10, 23, 70);
  font-size: 1.4rem;
}


.response h2 {
  // font-family: GT-Walsheim-Pro-Light;
  color: rgb(10, 23, 70);
  font-size: 1.4rem;
}






.responseImg1,
.responseImg2,
.responseImg3,
.responseImg4,
.responseImg5,
.responseImg6 {
  width: 35%;
  height: 50%;
}

.promptsContainers1,
.promptsContainers2,
.promptsContainers3,
.promptsContainers4,
.promptsContainers5,
.promptsContainers6 {
  color: rgb(10, 23, 70);
  width: 120px;
  margin: 10px 25px;

  height: 110px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;
}


.promptsContainers1 h4,
.promptsContainers2 h4,
.promptsContainers3 h4,
.promptsContainers4 h4,
.promptsContainers5 h4,
.promptsContainers6 h4 {
  color: rgb(10, 23, 70);
  font-size: 1.2rem;
  font-family: GT-Walsheim-Pro-Light;
}

.prompt1,
.prompt2,
.prompt3 {
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-family: GT-Walsheim-Pro-Light;
}

.imagesContainer {

  // border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  // flex-wrap: wrap;
  // width: 100vw;
  align-items: center;
  margin: 0 auto;

}

@media (max-width: 720px) {
  .imagesContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}





.promptsContainers1 {
  font-family: GT-Walsheim-Pro-Light;
  animation: cssAnimation 0s 0.8s forwards;
  visibility: hidden;


  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}



.promptsContainers2 {

  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;


  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}


.promptsContainers3 {

  animation: cssAnimation 0s 3s forwards;
  visibility: hidden;


  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}


.promptsContainers4 {

  animation: cssAnimation 0s 4s forwards;
  visibility: hidden;

  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}


.promptsContainers5 {

  animation: cssAnimation 0s 5s forwards;
  visibility: hidden;


  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}

.promptsContainers6 {

  animation: cssAnimation 0s 6s forwards;
  visibility: hidden;


  @keyframes cssAnimation {
    to {
      visibility: visible;
    }
  }
}


.linksPlasticFeature {
  color: rgb(111, 179, 206);
}

.smilingDrop {
  width: 10%;
  height: 10%;
  display: block;
  margin: 0 auto;
}


.responseText {
  margin-top: 30px;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;

  font-size: 1.3rem;
  margin-bottom: 30px;
  padding: 20px 40px;

}