.pro {
  width: 100vw;
  height: 62vh;
}

.pro-title {
  margin-top: 3rem;
  font-size: 1.8rem;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;
}

.pro-flex-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pro-left-side,
.pro-right-side {
  width: 35%;
  padding: 0 4rem;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
}

.pro-left-side p,
.pro-right-side p {
  color: #0d062f;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;
  font-size: 1.2rem;

}

.clickHerePro {
  font-family: GT Walsheim Pro Medium Oblique;

}

.icon-mouse-pointer {
  width: 40px;
  height: 40px;
}

.icon-mouse-pointer1 {
  width: 40px;
  height: 40px;
}