.pro {
  width: 100vw;
  // height: 62vh;
}

.pro-title {
  margin-top: 3rem;
  font-size: 1.8rem;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;
}

.pro-flex-container {
  margin-bottom: 30px;
  width: 100%;
  // height: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.pro-left-side,
.pro-right-side {
  width: 40%;
  padding: 0 4rem;
  min-height: 30vh;
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .pro-left-side,
  .pro-right-side {
    width: 100%;
  }
}

.pro-left-side p,
.pro-right-side p {
  color: #0d062f;
  text-align: center;
  font-family: GT-Walsheim-Pro-Light;
  font-size: 1.4rem;
}

.clickHerePro {
  font-family: GT Walsheim Pro Medium Oblique;
}

.icon-mouse-pointer {
  width: 50px;
  height: 50px;
}

.icon-mouse-pointer1 {
  width: 50px;
  height: 50px;
}
@media (max-width: 800px) {
  .pro-flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem;
  }

  .pro-left-side {
    margin-top: 45px;
    margin-bottom: 10px;
  }

  .pro-right-side {
    margin-top: 20px;
    margin-bottom: 17px;
  }
  .pro-title {
    margin-top: 3.4rem;
  }
  .pro-left-side p,
  .pro-right-side p {
    text-align: justify;
  }
}
