// .gros-truc {
//   width: 100vw;
// }

.paris-icon {
  margin-top: 30px;
  height: 10vh;
}

.quality-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  padding: 0 30px;
  margin: 20px auto 60px auto;
  border-left: 3px solid rgb(85, 165, 197);
  border-right: 3px solid rgb(85, 165, 197);
}

.quality-container section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-self: center;
}

.quality-container p {
  font-family: GT-Walsheim-Pro-Light;
  font-size: 1.2rem;
  text-align: justify;
}

.quality-container h1 {
  font-family: GT-Walsheim-Pro-Light;
  font-size: 30px;
  margin-bottom: 20px;
}

.quality-container h2 {
  font-family: GT-Walsheim-Pro-Light;
  font-size: 25px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .quality-container {
    min-width: 90vw;
    padding: 0 5px;
    margin: auto;
    margin-bottom: 10px;
  }
  .quality-container p {
    font-size: 1rem;
  }
}
